<% layout("/layouts/boilerplate.ejs") %>

<div class="container mt-5">
  <div class="row">
    <div class="alert alert-danger col-8 offset-2" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <pre><%= err.stack %></pre>
    </div>
  </div>
</div>